/*这里放置公共模块的公共代码*/

/** 通用样式清除 **/
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
}

#app {
  padding: 0;
  margin: 0;
}

.clearfix {
  zoom: 1;
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

/**
 * 按钮样式
 * 基础样式 + 皮肤 + 尺寸
 */
.btn {
  box-sizing: border-box;
  padding: 4px 10px;
  cursor: pointer;
  outline: none;
  border: none;
  word-spacing: 3px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  transition: filter 0.3s;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
  /* transition: background-color .1s; */
}

.btn-default {
  background-color: #3896f8;
  color: #fff;
  border-color: #3896f8;
}
.btn-default:hover {
  background-color: #66b1ff;
  border-color: #66b1ff;
}
.btn-default:focus {
  background-color: #66b1ff;
  border-color: #66b1ff;
}
.btn-default:active {
  background-color: #3896f8!important;
}
.btn-default-minor {
  background-color: #ecf5ff;
  border-color: #b3dbff;
  color: #3896f8;
}
.btn-default-minor:hover {
  background-color: #66b1ff;
  color: #fff;
  border-color: #66b1ff;
}
.btn-default-minor:active {
  background-color: #3896f8!important;
  color: #fff;
  border-color: #3896f8!important;
}
.btn-default-minor:focus {
  background-color: #66b1ff;
  color: #fff;
  border-color: #66b1ff;
}

.btn-green {
  background-color: #5CB85C;
  color: #fff;
  border-color: #5CB85C;
}
.btn-green:hover {
  background-color: #85ce61;
  border-color: #85ce61;
}
.btn-green:focus {
  background-color: #67c23a;
  border-color: #67c23a;
}
.btn-green:active {
  background-color: #5CB85C;
  border-color: #5CB85C;
}
.btn-green-minor {
  background-color: #f0f9eb;
  color: #5CB85C;
  border-color: #c2e7b0;
}
.btn-green-minor:hover {
  background-color: #85ce61;
  border-color: #85ce61;
  color: #fff;
}
.btn-green-minor:focus {
  background-color: #67c23a;
  border-color: #67c23a;
  color: #fff;
}
.btn-green-minor:active {
  background-color: #5CB85C;
  border-color: #5CB85C;
}

.btn-danger {
  background-color: #EE4000;
  color: #fff;
  border-color: #EE4000;
}
.btn-danger:hover {
  background-color: #f56c6c;
  border-color: #f56c6c;
}
.btn-danger:focus {
  background-color: #f56c6c;
  border-color: #f56c6c;
}
.btn-danger:active {
  background-color: #EE4000;
  border-color: #EE4000;
}
.btn-danger-minor {
  background-color: #fef0f0;
  color: #EE4000;
  border-color: #fbc4c4;
}
.btn-danger-minor:hover {
  background-color: #f56c6c;
  border-color: #f56c6c;
  color: #fff;
}
.btn-danger-minor:focus {
  background-color: #f56c6c;
  border-color: #f56c6c;
  color: #fff;
}
.btn-danger-minor:active {
  background-color: #EE4000;
  border-color: #EE4000;
}

.btn-gray {
  background-color: #909399;
  border-color: #909399;
  color: #fff;
}
.btn-gray:hover {
  background-color: #a6a9ad;
  border-color: #a6a9ad;
  color: #fff;
}
.btn-gray:focus {
  background-color: #a6a9ad;
  border-color: #a6a9ad;
  color: #fff;
}
.btn-gray:active {
  background-color: #909399;
  border-color: #909399;
  color: #fff;
}
.btn-gray-minor {
  background-color: #f4f4f4;
  border-color: #d3d4d6;
  color: #909399;
}
.btn-gray-minor:hover {
  background-color: #a6a9ad;
  border-color: #a6a9ad;
  color: #fff;
}
.btn-gray-minor:focus {
  background-color: #a6a9ad;
  border-color: #a6a9ad;
  color: #fff;
}
.btn-gray-minor:active {
  background-color: #909399;
  border-color: #909399;
  color: #fff;
}

.btn-warn {
  background-color: #e6a23c;
  border-color: #e6a23c;
  color: #fff;
}
.btn-warn:hover {
  background-color: #ebb563;
  border-color: #ebb563;
  color: #fff;
}
.btn-warn:focus {
  background-color: #ebb563;
  border-color: #ebb563;
  color: #fff;
}
.btn-warn:active {
  background-color: #e6a23c;
  border-color: #e6a23c;
  color: #fff;
}
.btn-warn-minor {
  background-color: #fdf6ec;
  border-color: #f5dab1;
  color: #e6a23c;
}
.btn-warn-minor:hover {
  background-color: #ebb563;
  border-color: #ebb563;
  color: #fff;
}
.btn-warn-minor:focus {
  background-color: #e6a23c;
  border-color: #e6a23c;
  color: #fff;
}
.btn-warn-minor:active {
  background-color: #ebb563!important;
  border-color: #ebb563!important;
  color: #fff;
}

.btn-minor:focus {
  background-color: #ecf5ff;
}
.btn-minor {
  background-color: #fff;
  border: 1px solid rgba(56, 150, 248, 1);
  color: rgba(56, 150, 248, 1);
}

.btn-disable {
  color: #fff!important;
  cursor: not-allowed!important;
  background-color: #909399!important;
  border-color: #909399!important;
}
.btn-disable:hover {
  color: #fff!important;
  cursor: not-allowed!important;
  background-color: #909399!important;
  border-color: #909399!important;
}
.btn-disable:focus {
  color: #fff!important;
  cursor: not-allowed!important;
  background-color: #909399!important;
  border-color: #909399!important;
}
.btn-disable:active {
  color: #fff!important;
  cursor: not-allowed!important;
  background-color: #909399!important;
  border-color: #909399!important;
}

.btn-medium {
  width: 120px;
  height: 32px;
  line-height: 32px;
  padding: 0;
}

.btn-small {
  width: 80px;
  height: 28px;
  line-height: 28px;
  padding: 0;
}

.btn-large {
  width: 150px;
  height: 35px;
  line-height: 35px;
  padding: 0;
}

/**
 * 链接样式
 * 链式按钮
 */
.a {
  display: inline-block;
  color: #3896f8;
  text-decoration: none;
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  user-select: none;
  border-bottom: 1px solid transparent;
}

.a-link {
  border-bottom: 1px solid #3896f8;
  cursor: pointer;
}

.a-hover:hover {
  border-bottom: 1px solid #3896f8;
  cursor: pointer;
}

.a-disable {
  color: #999;
  cursor: not-allowed;
  border-bottom: 1px solid #999;
}

/**
 * 标签样式
 * 默认文字右对齐
 */
.label {
  height: 36px;
  line-height: 36px;
  display: inline-block;
  font-size: 14px;
  color: #555;
  margin-right: 10px;
  text-align: right;
  position: relative;
}

.label:after {
  content: ':';
  position: absolute;
  right: -8px;
  top: 0;
}

/**带必填星号**/
.label-require::before {
  content: '*';
  position: relative;
  color: red;
  top: 3px;
}

.label-small {
  width: 80px;
}

.label-medium {
  width: 120px;
}

.label-long {
  width: 150px;
}

.label-left {
  text-align: left;
}

.label-justify {
  text-align: justify;
}

/**两端对齐**/
.label-justify::after {
  content: ':';
  position: relative;
  padding-left: 100%;
  display: inline-block;
  left: 5px;
  top: -100%;
}

.label-nocolon:after {
  content: '';
}

/**不带冒号**/
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/**
 * 提示
 */
.tips {
  font-size: 14px;
  display: inline-block;
  color: #bbb;
}

.tips-error {
  color: #EE4000;
}

.tips-error:before {
  content: '';
  position: relative;
  width: 19px;
  height: 19px;
  background: url(icons/error.png) no-repeat;
  display: inline-block;
  background-size: 19px 19px;
  top: 4px;
}

.tips-success {
  color: #5CB85C;
}

.tips-success:before {
  content: '';
  position: relative;
  width: 19px;
  height: 19px;
  background: url(icons/success.png) no-repeat;
  display: inline-block;
  background-size: 15px 14px;
  top: 7px;
  left: 2px;
}

/**
 * 文本框样式
 */
input {
  outline: none;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input {
  height: 36px;
  width: 200px;
  border-radius: 2px;
  border: 1px solid #bbb;
  padding: 0 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.input:focus,
.input:hover {
  border: 1px solid #3896f8;
}

.input-active {
  border: 1px solid #3896f8 !important;
}

.input-error {
  border: 1px solid #EE4000 !important;
}

.input-disable {
  background-color: #efefef;
  color: #999;
  cursor: not-allowed;
  border: 1px solid #ddd !important;
}

.div-input {
  height: 36px;
  width: 250px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #bbb;
  border-radius: 3px;
  position: relative;
}

/**输入框样式控制**/
.div-input:hover {
  border: 1px solid #3896f8;
}

.div-input .input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 20% 0 5px;
  border-radius: 3px;
}

.div-input:after {
  content: '';
  position: absolute;
  height: 80%;
  width: 1px;
  border-left: 1px solid #bbb;
  top: 10%;
  right: 16%;
}

.input-user {
  background: url(icons/user.png) no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  padding: 0 4% 0 5px;
}

.input-password {
  background: url(icons/password.png) no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  padding: 0 4% 0 5px;
}

.input-email {
  background: url(icons/email.png) no-repeat;
  background-size: 24px 24px;
  background-position: 96% center;
  padding: 0 4% 0 5px;
}

.input-search {
  background: url(icons/search.png) no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  padding: 0 4% 0 5px;
}

.input-num {
  background: url(icons/num.png) no-repeat;
  background-size: 24px 24px;
  background-position: 96% center;
  padding: 0 4% 0 5px;
}

/**
 * 文本域
 */
textarea {
  outline: none;
}

.textarea {
  width: 350px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  padding: 10px;
  min-width: 100px;
  min-height: 50px;
  font-size: 14px;
  color: #999;
}

.textarea:focus,
.textarea:hover {
  border: 1px solid #3896f8;
}

.textarea-active {
  border: 1px solid #3896f8 !important;
}

.textarea-error {
  border: 1px solid #EE4000 !important;
}

.textarea-disable {
  border: 1px solid #ddd !important;
  background-color: #efefef;
  color: #bbb !important;
  cursor: not-allowed;
}

.textarea-noresize {
  resize: none;
}

/**
 * 表格
 */
table {
  margin: 0;
  padding: 0;
  clear: both;
}

.table>caption {
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  color: #555;
}

.table {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.thead {
  font-size: 16px;
  color: #555;
  background-color: #F5F9FD;
}

.thead th {
  font-weight: normal;
  height: 50px;
}

.tbody {
  color: #666;
  font-size: 14px;
}

.tbody tr:nth-child(2n) {
  background-color: #F5F9FD;
}

.tbody td {
  height: 40px;
  padding: 10px;
}

.tbody tr:hover {
  background-color: #efefef;
}

.tbody-null {
  background: url(icons/empty.png) no-repeat;
  background-position: center;
  height: 300px;
}

.tbody-null:hover {
  background-color: transparent !important;
}

/**
 * div布局相关
 * 表单布局
 */
.form-control {
  margin-bottom: 30px;
}

.form-control .label {
  float: left;
  margin-right: 40px;
}

.form-items {
  float: left;
}

/**
 * 选择样式
 * radio 、 checkbox 、 shift
 */
.rd {
  font-size: 14px;
  color: #888;
  margin-right: 20px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  display: inline-block;
}

.rd:before {
  content: '';
  position: relative;
  background: url(icons/r1.png) no-repeat center;
  width: 14px;
  height: 14px;
  display: inline-block;
  background-position: 0 0;
  right: 4px;
  top: 1.5px;
}

.rd:hover,
.rd-checked {
  color: #3896f8;
}

.rd:hover:before {
  background: url(icons/r2.png);
}

.rd-checked:before {
  background: url(icons/r3.png) !important;
}

.rd-disable,
.rd-checked-disable {
  color: #bbb !important;
  cursor: not-allowed;
}

.rd-disable:before {
  background: url(icons/r4.png) !important;
}

.rd-checked-disable:before {
  background: url(icons/r5.png) !important;
}

.ck {
  font-size: 14px;
  color: #888;
  margin-right: 20px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  display: inline-block;
}

.ck:before {
  content: '';
  position: relative;
  background: url(icons/c1.png) no-repeat center;
  width: 14px;
  height: 14px;
  display: inline-block;
  background-position: 0 0;
  right: 4px;
  top: 1.5px;
}

.ck:hover,
.ck-checked {
  color: #3896f8;
}

.ck:hover:before {
  background: url(icons/c2.png);
}

.ck-checked:before {
  background: url(icons/c3.png) !important;
}

.ck-disable,
.ck-checked-disable {
  color: #bbb !important;
  cursor: not-allowed;
}

.ck-disable:before {
  background: url(icons/c4.png) !important;
}

.ck-checked-disable:before {
  background: url(icons/c5.png) !important;
}

.shift {
  display: inline-block;
  width: 80px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color .2s;
  text-align: left;
}

.shift:before {
  content: '';
  width: 28px;
  height: 28px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  top: 1px;
  left: 1px;
  transition: left .2s;
}

.shift-checked {
  background-color: #3896f8;
}

.shift-checked:before {
  left: 51px;
}

.shift-disable {
  cursor: not-allowed;
}

/** 文本长度控制 **/
.width-control {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**  遮罩  **/
.div-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  user-select: none;
}

.div-mask .mask-content {
  background-color: #fff;
  box-shadow: 0 0 15px 1px #ddd;
  transform: translate(0, -120px);
  border-radius: 3px;
}

.div-mask .mask-content>div {
  padding: 10px 30px;
}

.layout td {
  height: 30px;
  padding: 5px;
  max-width: 600px;
  word-break: break-all;
  word-wrap: break-word;
}

.table .shift {
  height: 26px;
  width: 60px;
}

.table .shift:before {
  width: 24px;
  height: 24px;
}

.table .shift-checked:before {
  left: 35px;
}

/** 显示隐藏 **/
.hide {
  display: none;
}

.show {
  display: block;
}

/** 三角形 **/

.triangle::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid rgb(108, 125, 163);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  top: 18px;
  right: 34px;
  transform: rotate(0);
  transition: transform 0.3s;
}

.triangle-select::after {
  transform: rotate(180deg);
}

/**
 * 布局相关
 * 左右浮动
 * 字体对齐
 * 外边距、内边距设置
 */
.float-left {float: left;}
.float-right {float: right;}

.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.margint-10 {margin-top: 10px;}
.margint-20 {margin-top: 20px;}
.margint-30 {margin-top: 30px;}
.margint-40 {margin-top: 40px;}
.margint-50 {margin-top: 50px;}
.margint-60 {margin-top: 60px;}
.margint-70 {margin-top: 70px;}
.margint-80 {margin-top: 80px;}
.margint-90 {margin-top: 90px;}
.margint-100 {margin-top: 100px;}

.marginl-10 {margin-left: 10px;}
.marginl-20 {margin-left: 20px;}
.marginl-30 {margin-left: 30px;}
.marginl-40 {margin-left: 40px;}
.marginl-50 {margin-left: 50px;}
.marginl-60 {margin-left: 60px;}
.marginl-70 {margin-left: 70px;}
.marginl-80 {margin-left: 80px;}
.marginl-90 {margin-left: 90px;}
.marginl-100 {margin-left: 100px;}

.marginb-10 {margin-bottom: 10px;}
.marginb-20 {margin-bottom: 20px;}
.marginb-30 {margin-bottom: 30px;}
.marginb-40 {margin-bottom: 40px;}
.marginb-50 {margin-bottom: 50px;}
.marginb-60 {margin-bottom: 60px;}
.marginb-70 {margin-bottom: 70px;}
.marginb-80 {margin-bottom: 80px;}
.marginb-90 {margin-bottom: 90px;}
.marginb-100 {margin-bottom: 100px;}

.marginr-10 {margin-right: 10px;}
.marginr-20 {margin-right: 20px;}
.marginr-30 {margin-right: 30px;}
.marginr-40 {margin-right: 40px;}
.marginr-50 {margin-right: 50px;}
.marginr-60 {margin-right: 60px;}
.marginr-70 {margin-right: 70px;}
.marginr-80 {margin-right: 80px;}
.marginr-90 {margin-right: 90px;}
.marginr-100 {margin-right: 100px;}

.paddingt-10 {padding-top: 10px;}
.paddingt-20 {padding-top: 20px;}
.paddingt-30 {padding-top: 30px;}
.paddingt-40 {padding-top: 40px;}
.paddingt-50 {padding-top: 50px;}
.paddingt-60 {padding-top: 60px;}
.paddingt-70 {padding-top: 70px;}
.paddingt-80 {padding-top: 80px;}
.paddingt-90 {padding-top: 90px;}
.paddingt-100 {padding-top: 100px;}

.paddingl-10 {padding-left: 10px;}
.paddingl-20 {padding-left: 20px;}
.paddingl-30 {padding-left: 30px;}
.paddingl-40 {padding-left: 40px;}
.paddingl-50 {padding-left: 50px;}
.paddingl-60 {padding-left: 60px;}
.paddingl-70 {padding-left: 70px;}
.paddingl-80 {padding-left: 80px;}
.paddingl-90 {padding-left: 90px;}
.paddingl-100 {padding-left: 100px;}

.paddingb-10 {padding-bottom: 10px;}
.paddingb-20 {padding-bottom: 20px;}
.paddingb-30 {padding-bottom: 30px;}
.paddingb-40 {padding-bottom: 40px;}
.paddingb-50 {padding-bottom: 50px;}
.paddingb-60 {padding-bottom: 60px;}
.paddingb-70 {padding-bottom: 70px;}
.paddingb-80 {padding-bottom: 80px;}
.paddingb-90 {padding-bottom: 90px;}
.paddingb-100 {padding-bottom: 100px;}

.paddingr-10 {padding-right: 10px;}
.paddingr-20 {padding-right: 20px;}
.paddingr-30 {padding-right: 30px;}
.paddingr-40 {padding-right: 40px;}
.paddingr-50 {padding-right: 50px;}
.paddingr-60 {padding-right: 60px;}
.paddingr-70 {padding-right: 70px;}
.paddingr-80 {padding-right: 80px;}
.paddingr-90 {padding-right: 90px;}
.paddingr-100 {padding-right: 100px;}

/** 元素尺寸设置 **/
.height {height: 100%;}
.height0 {height: 0; line-height: 12px;}
.height10 {height: 10px; line-height: 12px;}
.height12 {height: 12px; line-height: 12px;}
.height14 {height: 14px; line-height: 12px;}
.height16 {height: 16px; line-height: 12px;}
.height18 {height: 18px; line-height: 12px;}
.height20 {height: 20px; line-height: 12px;}
.height22 {height: 22px; line-height: 12px;}
.height24 {height: 24px; line-height: 12px;}
.height26 {height: 26px; line-height: 12px;}
.height28 {height: 28px; line-height: 12px;}
.height30 {height: 30px; line-height: 12px;}
.height32 {height: 32px; line-height: 12px;}
.height34 {height: 34px; line-height: 12px;}
.height36 {height: 36px; line-height: 12px;}
.height38 {height: 38px; line-height: 12px;}
.height40 {height: 40px; line-height: 12px;}
.height42 {height: 42px; line-height: 12px;}
.height44 {height: 44px; line-height: 12px;}
.height46 {height: 46px; line-height: 12px;}
.height48 {height: 48px; line-height: 12px;}
.height50 {height: 50px; line-height: 12px;}
.height60 {height: 60px; line-height: 12px;}
.height70 {height: 70px; line-height: 12px;}
.height80 {height: 80px; line-height: 12px;}
.height90 {height: 90px; line-height: 12px;}
.height100 {height: 100px; line-height: 12px;}
.height200 {height: 200px;}
.height300 {height: 300px;}
.height400 {height: 400px;}
.height500 {height: 500px;}
.height1080 {height: 1080px;}

.width {width: 100%;}
.width0 {width: 0;}
.width10 {width: 10px;}
.width12 {width: 12px;}
.width14 {width: 14px;}
.width16 {width: 16px;}
.width18 {width: 18px;}
.width20 {width: 20px;}
.width22 {width: 22px;}
.width24 {width: 24px;}
.width26 {width: 26px;}
.width28 {width: 28px;}
.width30 {width: 30px;}
.width32 {width: 32px;}
.width34 {width: 34px;}
.width36 {width: 36px;}
.width38 {width: 38px;}
.width40 {width: 40px;}
.width42 {width: 42px;}
.width44 {width: 44px;}
.width46 {width: 46px;}
.width48 {width: 48px;}
.width50 {width: 50px;}
.width60 {width: 60px;}
.width70 {width: 70px;}
.width80 {width: 80px;}
.width90 {width: 90px;}
.width100 {width: 100px;}
.width120 {width: 120px;}
.width150 {width: 150px;}
.width180 {width: 180px;}
.width200 {width: 200px;}
.width250 {width: 250px;}
.width300 {width: 300px;}
.width350 {width: 350px;}
.width400 {width: 400px;}
.width450 {width: 450px;}
.width500 {width: 500px;}
.width600 {width: 600px;}
.width700 {width: 700px;}
.width800 {width: 800px;}
.width900 {width: 900px;}
.width1000 {width: 1000px;}
.width1200 {width: 1200px;}
.width1400 {width: 1400px;}
.width1600 {width: 1600px;}
.width1800 {width: 1800px;}
.width1920 {width: 1920px;}
.width1080 {width: 1080px;}