.v-direc-tip,.v-direc-tip-right {
  font-size: 14px!important;
  position: absolute;
  padding: 10px 12px;
  margin-top: 10px;
  left: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .75);
  color: #fff;
  z-index: 9999;
  opacity: 0;
  white-space: nowrap;
  /* visibility: hidden; */
  transition: opacity .3s;
  display: none;
}
.v-direc-tip::before,.v-direc-tip-right::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  border-bottom: 8px solid rgba(0, 0, 0, .75);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: 0;
  z-index: 10000;
  transform: translate(0, -100%);
}
.v-direc-tip-right::before {
  right: 10px!important;
}